#project-list{
	display: flex;
	flex-direction: column;
	width: 100%;


	.odd{
		border: 2px solid $pale-purple-border;
		background: $pale-orange;
	}
	.even{
		border: 2px solid $pale-orange-border;
		background: $pale-purple;
	}

	.project-item h2,h3{
		padding-left: 4vw;
		white-space: nowrap;
		overflow: hidden;
	}

	.project-item{
		margin: 5vw 0;
		min-width: 30%;

		border-radius: 5px;

		cursor: pointer;

		position: relative;
		top: 0px;
		transition: .5s ease;

		.project-img{
			max-width: 100%;
			overflow: hidden;
			height: auto;
		}
		h2 {
			font-size: 4.8vw;
		}
		h3{
			font-size: 3.8vw;
		}

		&:hover{
			transform: scale(1.075);
		}
	}
}