*, *::after, *::before {
    box-sizing: border-box;
    font-family: "Roboto Slab";
    color: $default-text-colour;
}
a {
    text-decoration: none;
    cursor: pointer;
}
body {
    letter-spacing: 0.4px;
    margin: 0 auto;
}
.hidden{
    display: none;
}